
# Dépendances
node_modules/
.pnp
.pnp.js

# Build Electron et Vite (CRITIQUE)
dist/
release/
release/*
*.exe
*.blockmap
*.zip
*.dmg
*.AppImage

# Icônes temporaires
public/favicon.ico.ico

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système
.DS_Store
Thumbs.db
